<%= form_for(@user, html: {multipart: true, class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.file_field :avatar, class: "no-border" %>

    <%= f.form_group :email do |f| %>
      <%= f.label :email, class: 'form-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

    <%= f.form_group :first_name do |f| %>
        <%= f.label :first_name, class: 'form-label col-md-2' %>
        <div class='col-md-8'>
          <%= f.text_field :first_name, class: 'form-control' %>
          <%= f.error_messages %>
        </div>
    <% end %>

    <%= f.form_group :last_name do |f| %>
      <%= f.label :last_name, class: 'form-label col-md-2' %>
      <div class='col-md-8'>
        <%= f.text_field :last_name, class: 'form-control' %>
        <%= f.error_messages %>
      </div>
    <% end %>

  </div>

  <div class="form-actions col-md-offset-3 col-md-9">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to "Cancel", products_path, class: 'btn' %>
  </div>

<% end %>
